body {
  width: 100vw;
  margin: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.navbar {
  background-color: #0c0c0c;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0px;
  z-index: 100;
}
.navbar div.logo {
  padding-left: 5px;
}
.navbar form {
  display: flex;
  position: relative;
  width: 300px;
  border-radius: 7rem;
  flex-direction: row;
}
.navbar form input[type=search] {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
  padding: 0 1.6rem;
  border-radius: 7rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.navbar form input[type=search] button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #e8a860;
  border-radius: 0 7rem 7rem 0;
}
.navbar div.perfil_logo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 300px;
}
.navbar div.perfil_logo div.img_logo {
  height: 50px;
  min-width: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: #e8a860;
}
.navbar div.perfil_logo div.usuario {
  font-size: 18px;
  padding-right: 20px;
}

.perfil {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: #505050;
  color: #f5f5f5;
}
.perfil .foto {
  background-color: #e8a860;
  height: 200px;
  min-width: 100px;
  padding: 10px;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 150px solid #505050;
}

.timeline {
  position: relative;
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
.timeline *,
.timeline *::before,
.timeline *::after {
  box-sizing: border-box;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #505050;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #e8a860;
  border: 2px solid #505050;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #505050;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
  max-width: 100px;
}

.container.right .date {
  left: -150px;
  max-width: 100px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #505050;
  position: relative;
  border-radius: 8px;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 8px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #e8a860;
}

.container .content h3 {
  font-size: 18px;
  color: #f5f5f5;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #f5f5f5;
}

@media (max-width: 767.98px) {
  .triangulo {
    border-left: 90px solid transparent;
    border-right: calc(100vw - 90px) solid transparent;
    border-top: 100px solid #505050;
  }
  .timeline::after {
    left: 90px;
  }
  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }
  .container.right {
    left: 0%;
  }
  .container.left::after,
.container.right::after {
    left: 82px;
  }
  .container.left::before,
.container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }
  .container.left .date,
.container.right .date {
    right: auto;
    left: 10px;
    max-width: 50px;
  }
  .container.left .icon,
.container.right .icon {
    right: auto;
    left: 146px;
  }
  .container.left .content,
.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}/*# sourceMappingURL=perfil.css.map */