body {
  width: 100vw;
  margin: 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.container {
  width: 0px;
  visibility: hidden;
  padding: 15px 30px;
  position: relative;
  background: inherit;
  text-align: justify;
  transition: width 1s;
}

.content {
  height: 350px;
}

.content h2, .content h3, .content p {
  visibility: hidden;
}  

#timeline, #timeline_c, #timeline_f {
  height: 0px;
  visibility: hidden;
}

.navbar {
  background-color: #0c0c0c;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0px;
  z-index: 100;
  div.logo {
    padding-left: 5px;
  }
  form {
    display: flex;
    position: relative;
    width: 300px;
    border-radius: 7rem;
    flex-direction: row;
    input[type="search"] {
      width: 100%;
      height: 30px;
      background: #f5f5f5;
      padding: 0 1.6rem;
      border-radius: 7rem;
      appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work/
      position: relative;
      button {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
        font-weight: bold;
        background: #e8a860;
        border-radius: 0 7rem 7rem 0;
      }
    }
  }
  div.perfil_logo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 300px;
    div.img_logo {
      height: 50px;
      min-width: 50px;
      margin: 5px;
      border-radius: 50%;
      background-color: #e8a860;
    }
    div.usuario {
      font-size: 18px;
      padding-right: 20px;
    }
  }
}
.perfil {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: #505050;
  color: #f5f5f5;
  .foto {
    background-color: #e8a860;
    height: 200px;
    min-width: 100px;
    padding: 10px;
  }
}
.triangulo {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 150px solid #505050;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
#timeline {
  position: relative;
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
#timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #505050;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
#timeline_f {
  position: relative;
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
#timeline_f::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #f5f5f5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  border: 1px dashed #e69232;
}
#timeline_c {
  position: relative;
  width: 100vw;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}
#timeline_c::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #f5f5f5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  border: 1px dashed #505050;
}

.container.left {
  left: 0;
}
.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #e8a860;
  border: 2px solid #505050;
  border-radius: 16px;
  z-index: 1;
}
.container.right::after {
  left: -8px;
}
.container::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #505050;
  z-index: 1;
}
.container.right::before {
  left: 8px;
}
.container.left_b{
  right: 50px;
}
.container.left_b .date{
  right: -100px;
  max-width: 75px;
}
.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.container.left .date {
  right: -100px;
  max-width: 75px;
}
.container.right .date {
  left: -150px;
  max-width: 75px;
}
.container .content {
  padding: 30px 90px 30px 30px;
  background: #505050;
  position: relative;
  border-radius: 8px;
}
.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 8px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #e8a860;
}
.container .content h3 {
  font-size: 18px;
  color: #f5f5f5;
}
.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #f5f5f5;
}
#timeline_c .container::before {
  background: #696969;
}
#timeline_c .container .content{
  background: #696969 ;
}
#timeline_f .container::before {
  background: #696969;
}
#timeline_f .container .content{
  background: #696969 ;
}
@media (max-width: 767.98px) {
  .triangulo {
    border-left: 90px solid transparent;
    border-right: calc(100vw - 90px) solid transparent;
    border-top: 100px solid #505050;
  }
  #timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 10px;
    max-width: 50px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
